<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <!-- Bootstap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
   <link rel="stylesheet" href="static/css/style.css">

   <!-- Map dimensions -->
   <style>
    #map {
        width: 100%;
        height: 40vh;
    }
   </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="plots">FCHS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="data">Data</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row text-center">
          <div class="container-fluid py-3">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h1 class="display-5 fw-bold">Fulton County Home Sales</h1>
                    <p class="col-md-12 fs-4">The Data</p>
                </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <p>The complete dataset collected from the Fulton County Board of Assessors included nearly 100,000 rows of data, each representing an individual home sale between 2017 and 2021. A download link for the full dataset and a sample of the first 100 rows is provided below.</p>
            <a href="/download" download="data_clean.csv">Download Full Dataset Here</a>
            <div class="table-responsive py-3">
              <table class="table table-striped table-hover" style="text-align: center">
                <thead>
                  <tr style="text-align: center;">
                    <th>id</th>
                    <th>Address</th>
                    <th>County</th>
                    <th>State</th>
                    <th>Sale Date</th>
                    <th>Sale Year</th>
                    <th>Sale Month</th>
                    <th>Sale Price</th>
                    <th>lat</th>
                    <th>long</th>
                    <th>block</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>2976 WHISPERWOOD TRL</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/12/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>200000</td>
                    <td>33.671191</td>
                    <td>-84.485159</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>3040 STONE RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/13/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>220000</td>
                    <td>33.667964</td>
                    <td>-84.487987</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>2995 REDWINE RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/27/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>182000</td>
                    <td>33.660411</td>
                    <td>-84.486634</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>4</th>
                    <td>2974 ROCKWOOD RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/1/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>149900</td>
                    <td>33.674489</td>
                    <td>-84.482433</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>5</th>
                    <td>3105 GOLDEN DR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/5/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>175000</td>
                    <td>33.672837</td>
                    <td>-84.489831</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>6</th>
                    <td>3067 REDWINE RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/12/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>105600</td>
                    <td>33.660350</td>
                    <td>-84.489175</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>7</th>
                    <td>3084 GLENDALE CT</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/12/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>140000</td>
                    <td>33.671777</td>
                    <td>-84.481675</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>8</th>
                    <td>2982 DUKE OF WINDSOR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/22/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>195000</td>
                    <td>33.665158</td>
                    <td>-84.486122</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>9</th>
                    <td>3411 PRINCE GEORGE ST</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/27/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>269990</td>
                    <td>33.663059</td>
                    <td>-84.491627</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>10</th>
                    <td>2810 HOGAN RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/29/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>139900</td>
                    <td>33.677663</td>
                    <td>-84.480855</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>11</th>
                    <td>3254 CALVIN CT</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>7/13/17</td>
                    <td>2017</td>
                    <td>Jul</td>
                    <td>235000</td>
                    <td>33.668285</td>
                    <td>-84.490323</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>12</th>
                    <td>2805 DUKE OF GLOUCESTER</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>8/7/17</td>
                    <td>2017</td>
                    <td>Aug</td>
                    <td>225000</td>
                    <td>33.663159</td>
                    <td>-84.480855</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>13</th>
                    <td>2727 DRESDEN TRL</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>8/11/17</td>
                    <td>2017</td>
                    <td>Aug</td>
                    <td>180000</td>
                    <td>33.659454</td>
                    <td>-84.479305</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>14</th>
                    <td>2823 PINE VALLEY CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>8/31/17</td>
                    <td>2017</td>
                    <td>Aug</td>
                    <td>188000</td>
                    <td>33.672428</td>
                    <td>-84.480650</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>15</th>
                    <td>3286 SIR HENRY ST</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/7/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>220000</td>
                    <td>33.668146</td>
                    <td>-84.490118</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>16</th>
                    <td>2845 DUKE OF GLOUCESTER</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/15/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>194500</td>
                    <td>33.663699</td>
                    <td>-84.482208</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>17</th>
                    <td>2877 ALDEN GREEN TRL</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/18/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>206000</td>
                    <td>33.677190</td>
                    <td>-84.484400</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>18</th>
                    <td>3499 PRINCE GEORGE ST</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/22/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>230000</td>
                    <td>33.660681</td>
                    <td>-84.491716</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>19</th>
                    <td>3400 PRINCE GEORGE ST</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/11/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>280000</td>
                    <td>33.663383</td>
                    <td>-84.490774</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>20</th>
                    <td>2826 DODSON LEE DR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/26/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>172200</td>
                    <td>33.675199</td>
                    <td>-84.481265</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>21</th>
                    <td>2934 PINE VALLEY CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/30/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>178000</td>
                    <td>33.672331</td>
                    <td>-84.484339</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>22</th>
                    <td>2983 ROCKWOOD RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/21/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>180000</td>
                    <td>33.674261</td>
                    <td>-84.483171</td>
                    <td>131210113031</td>
                  </tr>
                  <tr>
                    <th>23</th>
                    <td>2843 HIGH TIDE DR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/20/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>110000</td>
                    <td>33.611360</td>
                    <td>-84.482945</td>
                    <td>131210105073</td>
                  </tr>
                  <tr>
                    <th>24</th>
                    <td>5290 SAND BAR LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/2/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>127000</td>
                    <td>33.611600</td>
                    <td>-84.481470</td>
                    <td>131210105073</td>
                  </tr>
                  <tr>
                    <th>25</th>
                    <td>5288 CATTAIL LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>8/22/17</td>
                    <td>2017</td>
                    <td>Aug</td>
                    <td>108000</td>
                    <td>33.610577</td>
                    <td>-84.481019</td>
                    <td>131210105073</td>
                  </tr>
                  <tr>
                    <th>26</th>
                    <td>5347 JEROME RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/13/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>135900</td>
                    <td>33.608621</td>
                    <td>-84.485036</td>
                    <td>131210105073</td>
                  </tr>
                  <tr>
                    <th>27</th>
                    <td>2731 SAND LAKE CT</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/30/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>134000</td>
                    <td>33.614368</td>
                    <td>-84.479051</td>
                    <td>131210105073</td>
                  </tr>
                  <tr>
                    <th>28</th>
                    <td>5328 JEROME RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>12/13/17</td>
                    <td>2017</td>
                    <td>Dec</td>
                    <td>125000</td>
                    <td>33.609153</td>
                    <td>-84.485241</td>
                    <td>131210105073</td>
                  </tr>
                  <tr>
                    <th>29</th>
                    <td>3301 SPREADING OAK DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/20/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>160000</td>
                    <td>33.731161</td>
                    <td>-84.496224</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>30</th>
                    <td>511 CONSTELLATION OVERLOOK</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/7/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>125000</td>
                    <td>33.741488</td>
                    <td>-84.502598</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>31</th>
                    <td>3319 REGENT PL</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/17/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>175000</td>
                    <td>33.726841</td>
                    <td>-84.496712</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>32</th>
                    <td>3649 UTOY DR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/14/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>116500</td>
                    <td>33.738527</td>
                    <td>-84.508050</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>33</th>
                    <td>3370 LYNFIELD DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/28/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>106000</td>
                    <td>33.731827</td>
                    <td>-84.498356</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>34</th>
                    <td>3415 SPREADING OAK DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/8/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>117000</td>
                    <td>33.731270</td>
                    <td>-84.500137</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>35</th>
                    <td>3246 WEST MANOR LN SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/19/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>199900</td>
                    <td>33.737058</td>
                    <td>-84.493602</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>36</th>
                    <td>1028 BURNT HICKORY DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/9/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>244000</td>
                    <td>33.727866</td>
                    <td>-84.496620</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>37</th>
                    <td>1200 ARBOR PARK LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/15/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>192500</td>
                    <td>33.725598</td>
                    <td>-84.496664</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>38</th>
                    <td>837 BRAEMAR AVE SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/30/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>151000</td>
                    <td>33.732746</td>
                    <td>-84.495650</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>39</th>
                    <td>3645 UTOY DR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>7/3/17</td>
                    <td>2017</td>
                    <td>Jul</td>
                    <td>119450</td>
                    <td>33.738519</td>
                    <td>-84.507886</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>40</th>
                    <td>707 CELESTE LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>7/27/17</td>
                    <td>2017</td>
                    <td>Jul</td>
                    <td>118450</td>
                    <td>33.742897</td>
                    <td>-84.505934</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>41</th>
                    <td>737 CELESTE LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>8/17/17</td>
                    <td>2017</td>
                    <td>Aug</td>
                    <td>105000</td>
                    <td>33.741953</td>
                    <td>-84.505974</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>42</th>
                    <td>3397 BENJAMIN E MAYS DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/8/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>240000</td>
                    <td>33.738020</td>
                    <td>-84.499097</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>43</th>
                    <td>3410 REGENT PL</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/19/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>199000</td>
                    <td>33.725677</td>
                    <td>-84.497207</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>44</th>
                    <td>589 MORROW LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>9/29/17</td>
                    <td>2017</td>
                    <td>Sep</td>
                    <td>130000</td>
                    <td>33.742673</td>
                    <td>-84.502575</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>45</th>
                    <td>626 PROVIDENCE PL</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/4/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>113500</td>
                    <td>33.743098</td>
                    <td>-84.505106</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>46</th>
                    <td>3281 KINGSDALE DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/11/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>215000</td>
                    <td>33.722367</td>
                    <td>-84.495944</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>47</th>
                    <td>3345 ANNELAINE DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/12/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>224900</td>
                    <td>33.735415</td>
                    <td>-84.497904</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>48</th>
                    <td>758 CELESTE LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/16/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>123740</td>
                    <td>33.741237</td>
                    <td>-84.505665</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>49</th>
                    <td>643 LYNHURST DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/17/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>125000</td>
                    <td>33.736976</td>
                    <td>-84.489954</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>50</th>
                    <td>3646 UTOY DR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/21/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>135000</td>
                    <td>33.738217</td>
                    <td>-84.508065</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>51</th>
                    <td>1070 BEECHCREST RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/27/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>265000</td>
                    <td>33.723998</td>
                    <td>-84.496669</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>52</th>
                    <td>3229 BENJAMIN E MAYS DR SW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>12/8/17</td>
                    <td>2017</td>
                    <td>Dec</td>
                    <td>355000</td>
                    <td>33.736303</td>
                    <td>-84.493818</td>
                    <td>131210079003</td>
                  </tr>
                  <tr>
                    <th>53</th>
                    <td>1090 GUN CLUB RD NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>10/20/17</td>
                    <td>2017</td>
                    <td>Oct</td>
                    <td>135000</td>
                    <td>33.784934</td>
                    <td>-84.457035</td>
                    <td>131210086011</td>
                  </tr>
                  <tr>
                    <th>54</th>
                    <td>1209 HIGHTOWER RD NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/27/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>100000</td>
                    <td>33.788045</td>
                    <td>-84.470156</td>
                    <td>131210086011</td>
                  </tr>
                  <tr>
                    <th>55</th>
                    <td>2145 HOLLYWOOD DR NW UNIT 1</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/30/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>140000</td>
                    <td>33.783239</td>
                    <td>-84.457932</td>
                    <td>131210086011</td>
                  </tr>
                  <tr>
                    <th>56</th>
                    <td>2555 ETHERIDGE DR NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>11/30/17</td>
                    <td>2017</td>
                    <td>Nov</td>
                    <td>133000</td>
                    <td>33.788158</td>
                    <td>-84.471714</td>
                    <td>131210086011</td>
                  </tr>
                  <tr>
                    <th>57</th>
                    <td>1341 BOOTH AVE NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/6/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>604900</td>
                    <td>33.791673</td>
                    <td>-84.421185</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>58</th>
                    <td>1386 STIRLING CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/6/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>350000</td>
                    <td>33.794148</td>
                    <td>-84.428816</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>59</th>
                    <td>1215 VAN ALLEN MEWS 48</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/18/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>273750</td>
                    <td>33.791502</td>
                    <td>-84.428966</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>60</th>
                    <td>1303 HOFFMAN LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/18/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>269000</td>
                    <td>33.792927</td>
                    <td>-84.429053</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>61</th>
                    <td>1343 STIRLING CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/18/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>335000</td>
                    <td>33.793717</td>
                    <td>-84.428435</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>62</th>
                    <td>1274 VAN ALLEN MEWS</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/20/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>345000</td>
                    <td>33.791301</td>
                    <td>-84.428740</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>63</th>
                    <td>1342 RIETVELD ROW NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/20/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>285000</td>
                    <td>33.793276</td>
                    <td>-84.428925</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>64</th>
                    <td>1216 DEFOORS CT NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>1/27/17</td>
                    <td>2017</td>
                    <td>Jan</td>
                    <td>245000</td>
                    <td>33.809358</td>
                    <td>-84.426814</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>65</th>
                    <td>1299 HOFFMAN LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/7/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>296000</td>
                    <td>33.792818</td>
                    <td>-84.428980</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>66</th>
                    <td>1376 PETER HAUGHTON WAY</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/8/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>295000</td>
                    <td>33.794211</td>
                    <td>-84.428283</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>67</th>
                    <td>1155 DAVIS PL NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/13/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>311150</td>
                    <td>33.803973</td>
                    <td>-84.423415</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>68</th>
                    <td>1333 BOOTH AVE NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/16/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>627900</td>
                    <td>33.791414</td>
                    <td>-84.421185</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>69</th>
                    <td>1376 STIRLING CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>2/21/17</td>
                    <td>2017</td>
                    <td>Feb</td>
                    <td>352000</td>
                    <td>33.793810</td>
                    <td>-84.428786</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>70</th>
                    <td>1297 HOFFMAN LN</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/2/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>274900</td>
                    <td>33.792767</td>
                    <td>-84.428945</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>71</th>
                    <td>1334 RIETVELD ROW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/3/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>275000</td>
                    <td>33.793257</td>
                    <td>-84.429299</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>72</th>
                    <td>1199 HUFF RD NW UNIT 101</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/6/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>473863</td>
                    <td>33.789354</td>
                    <td>-84.426608</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>73</th>
                    <td>1208 DEFOORS CT NW 1 D</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/7/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>267000</td>
                    <td>33.808704</td>
                    <td>-84.425859</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>74</th>
                    <td>1265 MACKINTOSH PARK 33</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/15/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>365000</td>
                    <td>33.791982</td>
                    <td>-84.428844</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>75</th>
                    <td>1362 ENGLISH ST NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/15/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>595900</td>
                    <td>33.791835</td>
                    <td>-84.420728</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>76</th>
                    <td>1433 CARROLL DR NW 1</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/17/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>249900</td>
                    <td>33.802762</td>
                    <td>-84.434876</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>77</th>
                    <td>1433 CARROLL DR NW LOT 8</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/24/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>289900</td>
                    <td>33.802765</td>
                    <td>-84.434411</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>78</th>
                    <td>1360 ENGLISH ST NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>3/31/17</td>
                    <td>2017</td>
                    <td>Mar</td>
                    <td>595900</td>
                    <td>33.791689</td>
                    <td>-84.420839</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>79</th>
                    <td>1345 BOOTH AVE NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/7/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>539900</td>
                    <td>33.791806</td>
                    <td>-84.421185</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>80</th>
                    <td>1199 HUFF RD NW UNIT 107</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/12/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>472500</td>
                    <td>33.789023</td>
                    <td>-84.426749</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>81</th>
                    <td>1199 HUFF RD NW UNIT 115</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/14/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>592500</td>
                    <td>33.788888</td>
                    <td>-84.427298</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>82</th>
                    <td>1304 NOGUCHI MEWS</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/20/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>255000</td>
                    <td>33.793015</td>
                    <td>-84.428891</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>83</th>
                    <td>1350 PETER HAUGHTON WAY</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/20/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>345000</td>
                    <td>33.793671</td>
                    <td>-84.427945</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>84</th>
                    <td>1055 DAVIS CIR NW R</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/21/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>430000</td>
                    <td>33.803456</td>
                    <td>-84.422406</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>85</th>
                    <td>1516 HOWELL MILL RD</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/21/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>240000</td>
                    <td>33.796590</td>
                    <td>-84.416425</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>86</th>
                    <td>1292 VAN ALLEN MEWS 67</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/26/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>365999</td>
                    <td>33.791892</td>
                    <td>-84.428565</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>87</th>
                    <td>1388 STIRLING CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/26/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>371000</td>
                    <td>33.794191</td>
                    <td>-84.428928</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>88</th>
                    <td>1414 PETER HAUGHTON WAY</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>4/27/17</td>
                    <td>2017</td>
                    <td>Apr</td>
                    <td>360000</td>
                    <td>33.795113</td>
                    <td>-84.428980</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>89</th>
                    <td>1764 DEFOOR AVE NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/11/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>530000</td>
                    <td>33.803561</td>
                    <td>-84.421513</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>90</th>
                    <td>1268 MACKINTOSH PARK</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/12/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>323000</td>
                    <td>33.791777</td>
                    <td>-84.429532</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>91</th>
                    <td>1433 CARROLL DR NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/12/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>275000</td>
                    <td>33.802917</td>
                    <td>-84.434232</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>92</th>
                    <td>1359 STIRLING CIR</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/23/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>365000</td>
                    <td>33.793633</td>
                    <td>-84.428132</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>93</th>
                    <td>1364 ENGLISH ST NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/25/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>613600</td>
                    <td>33.791942</td>
                    <td>-84.420827</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>94</th>
                    <td>1199 HUFF RD NW UNIT 116</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>5/30/17</td>
                    <td>2017</td>
                    <td>May</td>
                    <td>600000</td>
                    <td>33.788925</td>
                    <td>-84.427401</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>95</th>
                    <td>1330 ENGLISH ST NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/5/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>589900</td>
                    <td>33.791265</td>
                    <td>-84.420816</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>96</th>
                    <td>1330 RIETVELD ROW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/15/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>307000</td>
                    <td>33.793247</td>
                    <td>-84.429407</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>97</th>
                    <td>1185 DAVIS PL NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/16/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>435000</td>
                    <td>33.803587</td>
                    <td>-84.422560</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>98</th>
                    <td>1290 NOGUCHI MEWS</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/23/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>370000</td>
                    <td>33.792698</td>
                    <td>-84.428682</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>99</th>
                    <td>1277 AALTO MAIN WAY NW</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/27/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>382500</td>
                    <td>33.792604</td>
                    <td>-84.427596</td>
                    <td>131210089021</td>
                  </tr>
                  <tr>
                    <th>100</th>
                    <td>1265 PONTI MEWS</td>
                    <td>Fulton County</td>
                    <td>Georgia</td>
                    <td>6/30/17</td>
                    <td>2017</td>
                    <td>Jun</td>
                    <td>370000</td>
                    <td>33.792215</td>
                    <td>-84.428428</td>
                    <td>131210089021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="main" id="content">
        <div id="map">

        </div>
        
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

<!-- map source -->

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

<!-- D3 library -->
<script src="https://d3js.org/d3.v5.min.js"></script>

</html>