<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fulton County Home Sales</title>
    <!-- Bootstap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
   <link rel="stylesheet" href="static/css/style.css">

   <!-- Map dimensions -->
   <style>
    #map {
        width: 100%;
        height: 40vh;
    }
   </style>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FCHS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link active" href="links/about.html">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="links/data.html">Data</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row text-center">
          <div class="container-fluid py-3">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h1 class="display-5 fw-bold">Fulton County Home Sales</h1>
                    <p class="col-md-12 fs-4">Use the interactive charts below to explore the dataset</p>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Year:</h5>
              <select id="selDataset">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <div id="map"></div>
          </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5 mx-auto text-center">
                <div id="line">LINE CHART</div>
            </div>
            <div class="col-md-2 mx-auto text-center">
                <div id="line">EMPTY</div>
            </div>
          <div class="col-md-5 mx-auto text-center">
            <div id="bar">BAR CHART</div>
          </div>
        </div>
      </div>
    <!-- <div class="main" id="content">
        <div id="map">

        </div>
        
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

<!-- map source -->

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

<!-- D3 library -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- leaflet-choropleth JavaScript-->

<script src="static/js/willsMap.js"></script>

</html>